[alias]
    co = checkout
    br = branch
    st = status
    ci = commit
    ca = commit --amend --no-edit
    cp = cherry-pick
    fr = !git fetch && git rebase
    rbi = rebase -i
    brc = !git fetch -p && git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -d
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    ff = !sh -c 'git submodule update --remote --init --recursive && git pull --ff-only'

[user]
	name = trevor
	email = ""
[core]
	editor = vi
